* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Didot;
  src: url("/polices/Didot Regular.ttf");
}
body{
background-color: #f5f5ed;
width: 1920;
}



a,h3, span, h5{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


.navigation {
 display:flex;
 position: fixed;
 z-index: 1000;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 margin: auto;
 background-color:#f5f5ed;
 border-bottom: solid 1px rgb(197, 189, 189) ;

}

.navigation img{
    width: 80px;
    margin-left: 100px;
}


.book h3{
  background-color: #ffd9da;
  padding: 28px 8px;
  border-radius: 50%;
  font-size: 8pt ;
  text-align: center;
  margin: 5px 40px 5px 0;
}

button span{
    font-size: 10pt;
    margin-left: 50px;
}

.hero-header{
  display: flex;
  width: 100%;

    
}

.inner-hero{
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("/img/Cerisiers-en-Fleurs-vue-du-Salon-1024x768.jpg");
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 650px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h1{

    color: white;
    font-size: 52pt;
    margin-top: 100px;

}

.bottom-menu{
    width: 80%;
    margin: auto;
}
.second-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.color-block{
    background: #cc7178;
    width: 80%;
    height: 800px;
    margin: auto;
    display: flexbox;
    text-align: center;
}

.color-block-reserver{
  background: #ffb4a2;
}
.color-block-gite{
  background-color: #cc7178;
}
.color-block-gite-2{
  background-color: #c7d9b7;
}

.color-block-contact{
  background-color: #669bbc;
}


.color-block-reserver, .color-block-gite, .color-block-gite-2, .color-block-gal, .color-block-contact{
  width: 95%;
  height: 800px;
  margin: auto;
  display: flexbox;
  text-align: center;
  padding-top: 100px;
}

.color-block-gal{
background-color: #aa9fb2;
height: 300px;
}
.color-block-contact{
background-color: #669bbc;
height: 650px;
}
.color-block-reserver h1{
  color: black;
  margin-top: 0;
  padding-top: 50px;
}
.infobox-reserver{
  width: 70%;
  margin: auto;
}
.gites{
  margin-top: 20px;
}

.green-block{
  background: #c7d9b7;
  width: 80%;
  height: 600px;
  margin: auto;
  display: block;
  margin-top: 300px;
}

.vl {
  border-right: 2px solid black;
  height: 100px;
  display: flex;
  width: 50%;
  margin: 40px 0 50px 0;
}

.picto-home{
    margin-top: -50px !important;
}

h2,h1,p{
    font-family: "Didot","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
}

h2{
    font-size: 52pt;
}
.color-block p{
    text-align: center;
    margin-top: 20px;
  }


.infobox{
  width: 80%;
  margin: auto;
}

.gite{
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}


.green-header{
  text-align: center;
  margin-bottom: 20px;
}

.chambres-contain{
  display: flex;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px;
}


.rigth-column{
  margin-left: -100px;
  width: 50%;
  margin-right: 20px;
}
.left-column {
  text-align: left;
  width: 50%;
  margin-left: 20px;
}

.rigth-column img {
  width: calc(100% + 20px);
}

.left-column img{
  width: calc(100% + 100px);
}


.companies{
  width: 100%;
  display:flexbox;
  text-align: center;
}

.companies img{
  width: 8%;
  height: auto;
  vertical-align: middle;
  align-items: center;
  margin: 0 15px;
  margin-top: 220px;
}

.pink-box{
  display: block;
  justify-content: center;
  width: 50%;
  height: fit-content;
  background-color: #ffd9da;
  padding: 50px 0px;
}

.gift{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}


.button{
  background: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:20px 0;
  cursor: pointer;
}
a{
  color: white;
}

footer{
  margin-top: 100px;
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  background-color: #700325;
}

footer h2, .company h3{
  font-size: 18pt;
  color: white;
}

footer ul{
list-style: none;
}
a span{
  color: white;
}

footer p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.desc-reserver{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  text-align: center;
}

.separator{
  width: 67%;
  margin: auto;
  border-top: 2px solid black; 
}
.separator .vl{
  margin-top: 0;
  margin-bottom: 10px;
}

.conditions{
  text-align: center;
}
.conditions ul{
  list-style: none;
}
.conditions li, span{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 2.5;
  text-transform: uppercase;
  font-size: 10pt;
}

.conditions span{
  color: #700325;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation ul li {
  cursor: pointer;
  padding: 6px 20px;
  font-size: 48px;
}

.second-menu a{
    color:black;
}

button {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  margin-left: 1%;
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: auto;
  width: 100%;
  background: linear-gradient(to bottom, black, black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%, black 100%);
  transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}

button:after {
  opacity: 0;
  content: "×";
  color: white;
  position: absolute;
  top: 16px;
  left: -4px;
  font-family: Arial, sans-serif;
  font-size: 76px;
  line-height: 0;
  transition: opacity 0.4s ease-out;
}
button:active {
  transform: translateY(2px);
}
button:hover {
  opacity: 1;
}
.open button {
  opacity: 1;
}
.open button:before {
  opacity: 1;
  width: 0;
}
.open button:after {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(360deg);
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
}

nav {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
nav:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #c7d9b7;
  opacity: 98% ;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.open nav {
  top: 0;
}
.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
          animation: menu-animation 0.8s ease-out forwards;
}

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  color: white;
}
ul.menu li {
  opacity: 0;
  text-align: center;
  transform: translate3d(0, 36px, 0);
}
ul.menu li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
}
ul.menu li:after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: black;
  overflow: hidden;
  transform: translate(-24px, 6px);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
ul.menu li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after {
  opacity: 1;
  padding: 0 20px;
  transform: translate(0px, 6px);
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
}
.open ul.menu li {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
  transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
  transition-delay: 0.85s;
}
.open ul.menu  li:nth-child(3) {
  transition-delay: 0.95s;
}
.open ul.menu  li:nth-child(4) {
  transition-delay: 1.05s;
}
.open ul.menu  li:nth-child(5) {
  transition-delay: 1.15s;
}
.open ul.menu  li:nth-child(6) {
  transition-delay: 1.25s;
}



@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

.mentions{
  width: 50%;
  margin: auto;
  padding-top: 150px;
  text-align: left;
}
.plan-site{
  padding-top:200px;
  width: 80%;
  margin: auto;
}

.plan-site a{
  margin-top: 150px;
  color: #700325;
 
}
.plan-site ul{
  padding-top: 50px;
}
.container {
  width: 100%;
  height: 500px;
  position: relative;
  padding-top: 5%;
  margin-bottom: 5%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  cursor: pointer;
  z-index: 99;
}

.slider {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.slider .slider__item {
  height: 50px;
  transform-origin: 50% 50%;
  cursor: pointer;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
  left: 50%;
  opacity: 0;
  z-index: 10;
}
.slider .slider__item[data-position="0"] {
  left: 61%;
  z-index: 25;
  opacity: 1;
}


.slider .slider__item[data-position="1"], .slider .slider__item[data-position="2"]{
  width: 5%;
  height: 50px;
  opacity: 1;
  z-index: 20;
}
.slider .slider__item[data-position="1"] {
  left: 935px;
}

.slider .slider__item[data-position="2"] {
  left:-400px;
}
.slider img{
width: 650px;
}

.arrow--prev{
left:220px;
}

.arrow--next{
right:240px; 
}

.bigarreau{
background-color: #cc7178;
}
.montmorency{
background-color: #c7d9b7;
}

.bigarreau, .montmorency{
width: 70%;
margin: auto;
text-align: center;
padding-top: 50px;
}
.bigarreau h2, .montmorency h2{
margin-bottom: 40px;
}

.back{
display: flex;
margin-left: 20px
}

h5{
margin-left: 10px;
}

.gite-info{
display: flex;
justify-content: space-between;
text-align: start;
margin-top: 30px;
width: 95%;
}

.text{
  width: 500px;
}

.photos-bigga{
display: inline-flex;
text-align: start;
margin-top: 20px;
}

.col1 img, .col2 img, .col3 img{
width: 350px;
margin-bottom: 20px;
}

.col1, .col2, .col3{
text-align: center;
}
.col2{
margin-top: 50px;
}

.list1 ul, .list2 ul{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: bold;
line-height: 2.5;
text-transform: uppercase;
font-size: 8pt;
color: white;
list-style: none;
}
.infobox-reserver1{
width: 85%;
margin: auto;
}


.color-block-gite{
padding-bottom: 20%;
}

.separator-tarifs{
width: 20%;
margin: auto;
border-top: 2px solid black; 
}

.separator-tarifs .vl{
margin-top: 0;
}


table{
font-family: "Didot","Helvetica Neue",Helvetica,Arial,sans-serif;
width: 750px;
margin: auto;
}

th{
text-align: left;
font-size: 18pt;

}

.services-conditions{
width:80%;
display: flex;
justify-content: space-between;
margin: auto;
border: solid 50px #ffd9da;
padding: 30px;

}

.pratique{
margin-top: 100px;

}

.services-conditions ul{
list-style: none;
}

.services-conditions li{
font-size: 11pt;
line-height: 1.5;
}
.services-conditions h3{
margin-bottom: 20px;
}

.services-conditions .button{
float:right;
margin-top: 50px;
}

.serv{
 width: 40%;
}

.info-gal{
 width: 80%;
 margin: auto;
 margin-top: 50px;
}

.info-gal .separator{
 margin-top: 50px;
 width: 100%;
}

.photo-gal{
 width: 1500px;
 margin: auto;
 display: flex;
 justify-content: center;
}

.big img{
 width: 750px;
 margin-top: 20px;
}
.small img{
 width: 300px;
 margin: 20px;
}
.small{
 display: flexbox;
 justify-content: center;

}



input,
textarea{
  width: 95%;
  padding: 20px;
  border: none;
  margin-bottom: 20px;
  font-family: "Didot","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#fname,
#lname,
#mail{
  background-color: white;
}

#fname, #lname{
  width: 43%;
  height: auto;
  display: block;
  float:left;
  margin-top: 0;
}  
#lname{
float: right;
}
#subject{
    background-color: white;
    display: block;

}

#submit{
  background: black;
  color: #fff;
  margin: 15px;
  padding:10px;
  width: 100px;
  height: 50px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s linear;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.company img{
  width: 100px;
  font-size: 10pt;
  line-height: 0.5;
}

.contact-content{
  display: flex;
  max-width: 1900px;
  margin: auto;
  justify-content: space-between;
  margin-top: 20px;

}

.hosts img{
  max-width: 150px;
}

.hosts{
  width: 15%;
  text-align: center;
  margin-right: 50px;
}

.hosts p{
  color: white;
}

form{
 width: 50%;
}

.company{
  margin-left: 50px;
}

.company h3{
  font-family: "Didot","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: lighter; 
  text-transform: none;
}

.location{
  margin-top: 50px;
}

.loc-title{
  width: 28%;
  border-bottom: solid 2px black;
  margin-left: 50px;
  margin-bottom: 50px;
}
.plan{
display: flex;
width: 95%;
justify-content: space-between;
margin: auto;
}

.line1, .line2, .line3, .line4{
display: flex;
margin: 50px 150px;
}

.line1 img, .line2 img, .line3 img, .line4 img{
width: 90px;
height: 80px;
margin-right: 100px;
}

.color-block-reserver{
  margin-bottom: 100px;
}

@media (max-width :836px)

{

 h1{
   font-size: 25pt;
 }

 h2{
   font-size: 20pt;
 }

 .infobox-reserver{
   text-align: center;
 }
  
 .gites{
   width: 300px;
   margin-left: -80px;
 }

 .infobox-reserver p, .infobox-reserver h1{
  margin-left: -80px;
 }

 li{
   font-size: 8pt;
 }

 .arrow--prev{
  left:10px;
  }
  
  .arrow--next{
  right:10px; 
  }
.slider__item img{
  width: 300px;
 
}
  .info_gite .container{
    height: 300px;
  }
  .color-block-reserver{
    height: 550px;
  }

  .conditions{
    margin-top: 100px;
  }

  .bigarreau, .montmorency{
    height: 500px;
  }
  .arrow {
    top: 50%;
  }
  footer{
    display: block;
    text-align: center;
  }

  .container{
    height: 150px;
  }

  .contact-info{
    margin-bottom: 20px;
  }
 li::after{
   font-size: 18pt;
 }
 .menu a li{
    font-size: 18pt;
  }

  .second-menu a{
    font-size: 8pt;
  }

  .color-block{
    height: 1200px;
  }


  .chamres-contain{
    margin-top: 150px;
    display:flex;
  }

  .rigth-column{
    display: none;
  }

  .left-column img, .left-column p{
    width: 200px;
    margin-left: -20px;
    text-align: center;
  }
  .companies img{
    width: 80px;
    margin: 10px;
  }
  .green-block{
    margin-top: 150px;
  }

  .color-block-gite{
    display: block;
    height: 1100px;
  }

  .col2, .col3{
    display: none;
  }

  .gite-info{
    display: block;
  }

.list1, .list2{
  max-width: 5000px;
}
.infobox-reserver1 h2{
  margin-top:50px;
}
.col1 img{
width: 200px;
}

table{
  width: 250px;
  font-size: 16pt;
}
th{
  font-size: 11pt;
}
.services-conditions{
  display: block;
  border: solid 10px #ffd9da;
  padding: 10px;
}

.cond{
  width: 300px;
  height: auto;
}
.serv{
  width: 300px;
  margin-top: 20px;
}

.photo-gal{
  display: block;
}
.big img, .small img{
  width: 350px;
  margin-left: 10px;
}
 .small{
  display: block;
  width: 350px;
}
.contact-content{
  display: block;
}
.color-block-contact{
  width: 100%;
  height: 1100px;
}
form{
  width: 300px;
  margin: auto;

}
#fname, #lname{
  width: 108%;
  float: none;
  box-sizing: border-box;
  
}
.hosts{
  width: 340px;
 margin: auto;
}
.company{
  margin-bottom: 20px;
}
.info-contact{
  width: 390px;
  text-align: center;
  margin: auto;
}
.plan{
  display: block;
}
.coordinates, iframe{
  width: 95%;
  margin-left: 20px;
}
.coordinates img{
  width: 90px;
  height: 90px;
  margin: 20px;
}

.slider .slider__item[data-position="1"] {
  display: hidden;
}
.slider .slider__item[data-position="2"] {
  display: hidden;
}

.text, .list1, .list2{
  width: 350px;
  margin: auto;
  }
  
  .text{
    max-width: 350px;
    text-align: center;
    margin-bottom: 20px;
  }
.line1, .line2, .line3, .line4 {
  margin: 10px;
}

}

